  /* Variables */
$font-head: 'Playfair Display', serif;
$font-stack: 'Crimson Text', serif;
$primary-color: #333;
$hundred-perc: 100%;
$head-nav-h: 80px;
$head-main-colour: #3b3a36;
$head-hover-colour: #e6af4b;
$head-font-colour: #e9ece5;
$back-colour: #e3e3e3;
$dark-colour: #3b3a36;
$mint-colour: #c0dfd9;
$lob-font: 'Lobster Two', cursive;
$incon-font: 'Inconsolata', ;
$bigger-text: 1.5em;
/* same as above*/
$freshgray-colour: #e9ece5;
$cargreen-colour: #b3c2bf;
$lightblue-colour: #9ad3de;
$blue-colour: #89bdd3;

/* Extendables */
.resetPadMarg {
  margin: 0 !important;
  padding: 0 !important;
}
.listObjHover {
  li:active, li:hover {
      background-color: #FFF4CA;
      cursor: pointer;
      a {
        /*color: #3872DD;*/
        color: #f2b632;
      }
  }  
}


  /*______GLOBAL STYLE______ */
.lob {
  font-family: $lob-font;
  font-size: $bigger-text;
}
.incon {
  font-family: $incon-font;
  font-size: $bigger-text;
}
.bigger{
  font-size: $bigger-text;
}
.casual{
  color:$dark-colour;

  a:hover{
    text-decoration:none !important;
  }
  a:active{
    text-decoration:none !important;

  }
}
.text-obj a{
  color: #E09409;
  font-size: $bigger-text;
}
body,html{
  height : $hundred-perc;            /* Internet Explorer treats as min-height. */
  min-height : $hundred-perc;    
}

body{
  font-family: $font-stack;
  font-size:12px;
  position:relative;
  color: $dark-colour;
  }
.back {
  height: $hundred-perc;
  color: $dark-colour;
  @extend .resetPadMarg;
}
header{
  @extend .resetPadMarg;
  background-color: $back-colour;
}
#main-textarea{
  /*background-color: $back-colour;*/
          /*color: #f2b632; yellow*/
        color: #3b3a36; /* blue */
    .text-obj{
      display: none;
    }
    .selected{
      display: block;
    }
}
.main-content, .side-content{
  height: calc(100% - 80px); /* doesn't work with variables in compiler. */
}
.main-content{
  /*background-color: #C0DFD9;*/
  /*background-color: #9AD3DE;*/
  background-color: #777;
  display: flex;
  /*flex-flow:column nowrap;*/
  flex-direction:column;

  h2 {
    font-size: 6vh;
    font-family: $font-head;
    color: #F5E3D1;
    /*color: #22264b;*/
  }
  p{
    /*background-color: rgba(205,218,215,1);*/
    font-family: $font-head;
    font-size: 1.5em;

  }

}
.main-wrap{
  /*height: 50%;*/
  margin: auto; 
  width: 80%;
  cursor: default;
  align-self: center;
  /*text-align: left;*/
}

.btn-bar{
  position: absolute !important;
  bottom: 20px;
  margin-left: 10%;
  padding-left: 0 !important;

    #buttons{
        #prev, #next{
          color: #3b3a36;
          font-size: 5vh;
          text-decoration: none;
          border: 4px solid #3b3a36;
          background-color: transparent;
          outline: none;
          height: 100%;
          width: 9vh;
          border-radius: 50%;
          cursor: pointer;
        }
        #prev{
          margin-right: 40px;
        }
        #prev:hover, #next:hover,
        #prev:active, #next:active,{
          color: #FFF4CA;
          border: 4px solid #FFF4CA;

        }
    }
}
.side-content{
  background-color: white;
}
.side-content::before{
  width: 84%;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  background: no-repeat url('../images/me2.jpg')  50% / 100%;;
  background-size: cover;
  background-color: white;
}
.side-content::after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: -moz-linear-gradient(left,  rgba(119,119,119,1) 8%, rgba(119,119,119,1) 16%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(left,  rgba(119,119,119,1) 8%, rgba(119,119,119,1) 16%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to right,  rgba(119,119,119,1) 8%, rgba(119,119,119,1) 16%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ad3de', endColorstr='#00ffffff',GradientType=1 );

}
.navigation-bar ul li:last-child{
  border-right: none;
}

.navigation-bar{
  height: $head-nav-h;
  background-color: $back-colour;
  overflow: hidden;
  font-family: $font-head;

  ul{
    list-style: none; 
    height: $head-nav-h;
    background-color: $head-main-colour;
    padding: 0;
    margin: 0;

    /*@extend .listObjHover;*/


    .active, li{
      height: $hundred-perc;
      font-size: 2em;
      background-color: $head-main-colour;
      display: table;
      border-right:1px solid #49412c;


      a {
        color: #b0a18e;
        display: table-cell; 
        vertical-align: middle; 
        text-align: center; 
        text-decoration: none;
      }

    }

    .active {
      font-size: 4em;

      a {
        text-align: left;
        padding-left: 12%;
      }
    }

  }
}
/* animations */
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
  animation-duration: 0.5s;
  
}
.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
  animation-duration: 0.5s;

}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  animation-duration: 0.5s;

}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  animation-duration: 0.5s;
}
@media screen and (max-width : 992px) {
  .side-content  {
    height: 300px;
  }
}
