  /* Variables */

$font-head: 'Playfair Display', serif;
$font-stack: 'Crimson Text', serif;
$primary-color: #333;
$hundred-perc: 100%;
$head-nav-h: 80px;
$head-main-colour: #3b3a36;
$head-hover-colour: #e6af4b;
$head-font-colour: #e9ece5;
$back-colour: #e3e3e3;
$dark-colour: #3b3a36;
$mint-colour: #c0dfd9;
/* same as above*/
$freshgray-colour: #e9ece5;
$cargreen-colour: #b3c2bf;
$lightblue-colour: #9ad3de;
$blue-colour: #89bdd3;

/* Extendables */
.resetPadMarg {
  margin: 0 !important;
  padding: 0 !important;
}
.listObjHover {
  li:active, li:hover {
      background-color: #FFF4CA;
      cursor: pointer;
      a {
        /*color: #3872DD;*/
        color: #f2b632;
      }
  }  
}


  /*______GLOBAL STYLE______ */

body,html{
  height : $hundred-perc;            /* Internet Explorer treats as min-height. */
  min-height : $hundred-perc;    
}

body{
  font-family: $font-stack;
  font-size:12px;
  position:relative;
  color: $dark-colour;
  }
.back {
  height: $hundred-perc;
  color: $dark-colour;
  @extend .resetPadMarg;
}
header{
  @extend .resetPadMarg;
  background-color: $back-colour;
}
.main-textarea{
  /*background-color: $back-colour;*/
          /*color: #f2b632; yellow*/
        color: #3b3a36; /* blue */
}
.main-content, .side-content{
  height: calc(100% - 80px); /* doesn't work with variables in compiler. */
}
.main-content{
  /*background-color: #C0DFD9;*/
  background-color: #9AD3DE;
  display: flex;
  /*flex-flow:column nowrap;*/
  flex-direction:column;

  h2 {
    font-size: 6vh;
    font-family: $font-head;
    color: #22264b;
  }
  p{
    /*background-color: rgba(205,218,215,1);*/
    font-family: $font-head;
    font-size: 1.5em;

  }

}
.main-wrap{
  /*height: 50%;*/
  margin: auto; 
  align-self: center;
  /*text-align: left;*/
}

.btn-bar{
  align-self: flex-start;
  margin: 0 auto;

    #buttons{
        #prev, #next{
          color: #3b3a36;
          margin: auto 20px;
          font-size: 5vh;
          text-decoration: none;
        }
        #prev:hover, #next:hover,
        #prev:active, #next:active,{
          color: #f2b632;
        }
    }
}
.side-content{
  background-color: white;
}
.side-content::before{
  width: 84%;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  background: no-repeat url('../images/me2.jpg')  50% / 100%;;
  background-size: cover;
  background-color: white;
}
.side-content::after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: -moz-linear-gradient(left,  rgba(154,211,222,1) 8%, rgba(154,211,222,1) 16%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(left,  rgba(154,211,222,1) 8%, rgba(154,211,222,1) 16%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to right,  rgba(154,211,222,1) 8%, rgba(154,211,222,1) 16%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ad3de', endColorstr='#00ffffff',GradientType=1 );

}
.navigation-bar ul li:last-child{
  border-right: none;
}

.navigation-bar{
  height: $head-nav-h;
  background-color: $back-colour;
  overflow: hidden;
  font-family: $font-head;

  ul{
    list-style: none; 
    height: $head-nav-h;
    background-color: $head-main-colour;
    padding: 0;
    margin: 0;

    @extend .listObjHover;


    .active, li{
      height: $hundred-perc;
      font-size: 2em;
      background-color: $head-main-colour;
      display: table;
      border-right:1px solid #49412c;


      a {
        color: #b0a18e;
        display: table-cell; 
        vertical-align: middle; 
        text-align: center; 
        text-decoration: none;
      }
    }

    .active {
      font-size: 4em;
    }

  }
}
