/* Variables */
/* same as above*/
/* Extendables */
.resetPadMarg, .back, header {
  margin: 0 !important;
  padding: 0 !important; }

.listObjHover li:active, .navigation-bar ul li:active, .listObjHover li:hover, .navigation-bar ul li:hover {
  background-color: #FFF4CA;
  cursor: pointer; }
  .listObjHover li:active a, .navigation-bar ul li:active a, .listObjHover li:hover a, .navigation-bar ul li:hover a {
    /*color: #3872DD;*/
    color: #f2b632; }

/*______GLOBAL STYLE______ */
body, html {
  height: 100%;
  /* Internet Explorer treats as min-height. */
  min-height: 100%; }

body {
  font-family: "Crimson Text", serif;
  font-size: 12px;
  position: relative;
  color: #3b3a36; }

.back {
  height: 100%;
  color: #3b3a36; }

header {
  background-color: #e3e3e3; }

.main-textarea {
  /*background-color: $back-colour;*/
  /*color: #f2b632; yellow*/
  color: #3b3a36;
  /* blue */ }

.main-content, .side-content {
  height: calc(100% - 80px);
  /* doesn't work with variables in compiler. */ }

.main-content {
  /*background-color: #C0DFD9;*/
  background-color: #9AD3DE;
  display: flex;
  /*flex-flow:column nowrap;*/
  flex-direction: column; }
  .main-content h2 {
    font-size: 6vh;
    font-family: "Playfair Display", serif;
    color: #22264b; }
  .main-content p {
    /*background-color: rgba(205,218,215,1);*/
    font-family: "Playfair Display", serif;
    font-size: 1.5em; }

.main-wrap {
  /*height: 50%;*/
  margin: auto;
  align-self: center;
  /*text-align: left;*/ }

.btn-bar {
  align-self: flex-start;
  margin: 0 auto; }
  .btn-bar #buttons #prev, .btn-bar #buttons #next {
    color: #3b3a36;
    margin: auto 20px;
    font-size: 5vh;
    text-decoration: none; }
  .btn-bar #buttons #prev:hover, .btn-bar #buttons #next:hover,
  .btn-bar #buttons #prev:active, .btn-bar #buttons #next:active {
    color: #f2b632; }

.side-content {
  background-color: white; }

.side-content::before {
  width: 84%;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  background: no-repeat url("../images/me2.jpg") 50%/100%;
  background-size: cover;
  background-color: white; }

.side-content::after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: -moz-linear-gradient(left, #9ad3de 8%, #9ad3de 16%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(left, #9ad3de 8%, #9ad3de 16%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, #9ad3de 8%, #9ad3de 16%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ad3de', endColorstr='#00ffffff',GradientType=1 ); }

.navigation-bar ul li:last-child {
  border-right: none; }

.navigation-bar {
  height: 80px;
  background-color: #e3e3e3;
  overflow: hidden;
  font-family: "Playfair Display", serif; }
  .navigation-bar ul {
    list-style: none;
    height: 80px;
    background-color: #3b3a36;
    padding: 0;
    margin: 0; }
    .navigation-bar ul .active, .navigation-bar ul li {
      height: 100%;
      font-size: 2em;
      background-color: #3b3a36;
      display: table;
      border-right: 1px solid #49412c; }
      .navigation-bar ul .active a, .navigation-bar ul li a {
        color: #b0a18e;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        text-decoration: none; }
    .navigation-bar ul .active {
      font-size: 4em; }

/*# sourceMappingURL=style.css.map */
